<h1>Listado de Articulos</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Fecha de Creacion</th>
    </tr>
    {% for articulo in articulos %}
    <tr>
        <td>{{ articulo.id }}</td>
        <td>{{ articulo.title }}</td>
        <td>{{ articulo.created | date('d-m-Y') }}</td>
    </tr>
    {% endfor %}
</table>
articulo.html.twig: Conforme a un artículo muestra sus datos:
<h1>Articulo con ID {{ articulo.id }}</h1>
<ul>
    <li>Titulo: {{ articulo.title }}</li>
    <li>Fecha de creacion: {{ articulo.created | date('d-m-Y') }}</li>
</ul>